* {
  box-sizing: border-box;
}

body {
  background: url("https://us.123rf.com/450wm/peshkov/peshkov1911/peshkov191100886/134138737-success-and-knowledge-concept-creative-business-sketch-on-chalkboard-blackboard-wall-background-3d.jpg?ver=6");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%; 
  height: 100vh;
  background-size: 100% 100%;
  
  
  
  
}
/* Home Page */

#home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  border-radius: 20px;

}

/* header styles */

#header > h1 {
  font-size: 50px;
  color: antiquewhite;
}

#header > span {
  
  padding: 15px 25px;
  border-radius: 5px;
  color: rgb(252, 252, 252);
  text-align: center;
  font-weight: bolder;
}

/* Login Signup options */

#options_div {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 5px;
}

/* Login Signup Buttons */
button {
  color: black;
  font-weight: bold;
  background-color:bisque;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

button:hover {
  background-color: wheat;
  color: white;
}

/* anchor tags*/
a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 515px) {
  #options_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    height: 8vh
   
  }
  #options_div > button {
    width: 100%;

  }
  #home_page > #header {
    text-align: center;
  }
  #home_page > #header > span {
    font-size: 12px;
    background-color: none;
  }
  #home_page > #header > h1 {
    text-align: center;
  }
 
}