/* Body styles*/
body {
    background: url("https://media.istockphoto.com/id/1364994903/video/animation-of-question-marks-on-green-background.jpg?s=640x640&k=20&c=Fdr74s-FYQeLf8yYOFHpbK9f0TGp9E6B8nNiPawQtVc=");
    background-size: cover;
}

/* Quiz div styles*/
#question-container {
    width: 80%;
    margin: 100px auto;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

/* Control div styles*/
.controls {
    width: 20%;
    margin: auto;
}

/* Control buttons styles*/
.controls>button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 15px 25px;
    border-radius: 12px;
}

.controls>button:hover {
    background-color: #4CAF50;
    color: white;
}