/* Body styles*/
body {
    background: url("https://us.123rf.com/450wm/sergign/sergign1912/sergign191200009/134956513-multiple-question-marks-in-speech-bubbles-forming-side-border-o-a-bright-yellow-background-with-copy.jpg?ver=6");
    background-size: cover;
    
}

/* Quiz div styles*/
#question-container {
    background-color:  white;
    width: 80%;
    margin: 100px auto;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  
}

/* Control div styles*/
.controls {
    width: 80%;
    margin: auto;
}

.controls > button > a {
    text-decoration: none;
    color: black;
}

/* Control buttons styles*/
.controls>button {
    background-color: white;
    color: black;
    border: 2px solid #4CB4AB;
    padding: 15px 25px;
    border-radius: 12px;
}

.controls>button:hover {
    background-color: #4CB4AB;
    color: white;
}